 [container.image]
 repository="vsalaka" # Ex - Docker hub repository name.
 name="balbe" # Container name
 tag="v0.1.0"
 base="adoptopenjdk/openjdk11:aarch64-ubuntu-jre-11.0.14.1_1"
    [container.image.user]
    run_as="ballerina"

 [cloud.deployment]
 min_memory="512Mi" # Minimum memory required for the container.
 max_memory="512Mi" # Maximum memory a single container can take.
 min_cpu="500m"  # Minimum CPU required for the container.
 max_cpu="500m" # Maximum CPU a single container can take.

 [cloud.deployment.autoscaling]
 min_replicas=1 # Minimum number of container instances ran at a given time
 max_replicas=1 # Maximum number of replicas of the container can scale up to

 [cloud.deployment.probes.liveness]
 port=9091
 path="/probes/healthz"

 [cloud.deployment.probes.readiness]
 port=9091
 path="/probes/readyz"
